/* === GLOBAL ===  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3{
    font-family: sans-serif;
    font-weight: 900;
    line-height: 1.5;
}
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}

/* === HEADER ===  */
/* Navigation bar  */
header{
    background-color: #ff4c68;
    color: #fff;
    overflow: hidden;
}
.container-fluid{
    padding: 3% 15%;
}
header .navbar-header{
    background-color: #ff4c68 !important;
    margin-bottom: 4.5rem
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    opacity: 0.5; 
    margin: 0 15px;
    text-align: right;
}
.nav-link:hover{
    opacity: 0.8;
    color: #fff;
}
.nav-link:focus{
    opacity: 0.9;
    color: #fff;
}
.navbar-toggler{
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5); */
}
.navbar-toggler:focus{
    box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.5);
}
.navbar-toggler > i{
    font-size: 1.5rem;
    color: #fff;
}

/* Title  */
.big-heading{
    font-family: "Sedgwick Ave", cursive;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: left;
}
.button-download{
    font-size: 1rem;
    margin: 5% 3% 5% 0;
    padding: 7px 15px;
}
.col-right{
    position: relative;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    top: 0;
    right: 30%;
}

/* === FEATURES ===  */
.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box p{
    color: #8f8f8f;
    font-family: sans-serif;
    font-weight: lighter;
}
.feature-box > i{
    font-size: 4rem;
    color: #ef8172;
}
.feature-box > i:hover{
    color: #ff4c68;
}

/* === Tesimonials ===  */
.carousel-item{
    text-align: center;
}
.carousel-item > h2{
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item > img{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* === Press ===  */
.press{
    padding-bottom: 3%;
    text-align: center;
}
.press > img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* === Pricing ===  */
.pricing{
    padding: 100px;
    text-align: center;
}
.pricing p{
    color: #8f8f8f;
    font-family: sans-serif;
    font-weight: lighter;
}
.pricing-col{
    padding: 3% 2%;
}
.pricing-col .card-body h2{
    font-size: 3rem;
    line-height: 1.5;
}
.chi-labra{
    margin-bottom: 32px;
}
.the-shadow{
    /* 2 lớp đổ bóng  */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.25);
}

/* === Call To Action  */
.callToAction {
    text-align: center;
}
.callToAction h3{
    font-size: 2.5rem;
    font-family: 'Ubuntu';
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
}

/* === Footer ===  */
footer{
    text-align: center;
}
.copyright{
    color: #8f8f8f;
    font-family: sans-serif;
    font-weight: lighter;
}

/* ==== Reponsive ==== */
@media screen and (max-width: 1028px ){
    .title-header{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

